/BMS_Project/nbproject/private/
/BMS_Project/build/
/ShipDB_Q3/nbproject/private/
/ShipDB_Q3/build/
/CJSwingExercise/nbproject/private/
/CJSwingExercise/build/
/GUIReadFile/nbproject/private/
/GUIReadFile/build/